.progress-bar-wrapper{
    height: 1.75em;
    position: relative;
    background:rgb(190,190,190);
    border-radius: 1em;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    width: 66%;
    left: 50%;
    transform: translateX(-50%);
    top: 1em;
    overflow: hidden;
}
.progress-bar-wrapper > span{
    display: block;
    position: absolute;
    height: 100%;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    transition: width 0.25s;
}

.progress-bar-wrapper > .orange{
    background-color: rgb(235, 161, 23);
    background-image: linear-gradient(
      center bottom,
      rgb(194, 129, 43) 37%,
      rgb(235, 161, 23) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
}

.progress-bar-wrapper > .green{
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    overflow: hidden;
}

.form-div{
    display: flex;
    flex-wrap: wrap;
}

.form-div .warning{
    display:inline-block;
    width : 100%;
}

.warning {
    color:red;
}

.outlined{
    outline: 1px solid black;
    padding-left:1em;
    width:80%;
    padding-top:1em;
    padding-bottom:1em;
    margin-top:1em;
    
}

.form-div > span{
    width:45%;
}


.form-div  input{
    border-radius: 0.5em;
    width:75%;
    height:2em;
    font-size:1.1em;
    padding:0.25em;
    padding-left:1em;
}

.form-div label{
    display:inline-block;
    width:100%;
}

.form-div select{
    background-color:white;
}

.form-div  input[type="checkbox"]{
    border-radius: 0.5em;
    width: auto;
    height:2em;
}

.form-div  input[readonly]{
    background-color: rgb(220,220,220);
    pointer-events: none;
}

.form-div select{
    border-radius: 0.5em;
    height:2em;
    font-size:1.1em;
    width:5em;
}

.form-div select.big{
    border-radius: 0.5em;
    height:2em;
    font-size:1.1em;
    width:10em;
}

.form-button{
    margin-top:2em;
    margin-right:2em;
    display:inline-block;
    font-size:1.1em;
    font-weight: bold;
    width: 6em;
    border-radius: 0.25em;
    background-color:var(--orange);
    text-align: center;
    color: black;
}

.form-button.inline{
    margin-top:0.5em;
}

.form-button:hover{
    cursor:pointer;
}

.form-button:active{
    background-color:rgb(245, 213, 155);
}

.red.warning, .form-wrapper .warning{
    color:rgb(167, 38, 38);
    padding-left: 1em;
}

table {
    border : 1px solid gray;
    text-align: center;
}

table thead{
    background-color: var(--orange);
}

table tbody tr:nth-child(n){
    background-color: rgb(200,200,200);
}

table tbody tr:nth-child(2n){
    background-color: rgb(230,230,230);
}

table td, table th{
    padding-left:1em;
    padding-right:1em;
    padding-top:0.25em;
    padding-bottom:0.25em;
}

table {
    margin-bottom:1em;
    margin-top:1em;
}